/**
* Description: Sample theme for site which extends the CrZ grid-theme.
*/
@import url(../../../themes/grid/style.css);

html{background-color:#E8E8E8;}
body{background-color:#fff; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
#outer-wrap-header{background-color:#D0D0D0;border-bottom:1px solid #000; opacity: 0.8;}
#outer-wrap-footer{background-color:#E8E8E8;}
a{color:#000}